:root {
    --primary-text-color:#757575; ;
    --title-text-color:#212121 ;
    --accent-color:#2196F3 ;
    --primary-white-color: #FFFFFF;
    --main-font-family: "Roboto" , sans-serif;
    
}

body {
    font-family: var(--main-font-family);
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

h1 {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);

}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    
}

 .btn {

 }

 .visually-hidden {
     overflow: hidden;
 }
/*-------------------------- HEADER---------------- */

.header {
    background-color: var(--primary-white-color);
}

.header-nav {}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
}

.header-logo-2 {
    color:var(--title-text-color)
}
.header-list {
}

.header-item{
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    font-family:var(--main-font-family);
}

.header-link {
    color: var(--title-text-color);
}

.header-link:hover {
    color: var(--accent-color);
}

.header-contact {}

.contact-item {
    color: var(--primary-text-color);
}

.contact-item:hover{
    color: var(--accent-color)
}
/* -------------------MAIN---------------------- */

.hero {
    background-color: #2F303A;
}

.btn-main {
   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.878;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: var(--main-font-family);
}



/* --------------------ЧЕМ МЫ ЗАНИМАЕМСЯ------------------- */
.about-us {
    background-color: #E5E5E5;

}



.about-us-list {}

.about-us-item {}

.about-us-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.about-us-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.our-work {}

.our-work-title {
    font-family: var(--main-font-family)
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    
}

.our-work-list {}

.our-work-item {}

.our-work-image {}

/*--------------------------- НАША КОМАНДА -------------------*/

.team {
    background: #F5F4FA
   
}

.team-title {
    font-family: var(--main-font-family)
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
    

.team-list {}

.list {}

.team-member {}

.team-member-foto {}

.team-member-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-member-position {
    color: var(--primary-text-color);
}

/* -------------------ЧЕМ МЫ ЗАНИМАЕМСЯ---------------------- */
.footer-main {

    background-color:  #2F303A;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
}

 .footer-contact-list {}



 .footer-contact-item {
   
 }

 .footer-contact-adress {
    /* font-family: var(--main-font-family); */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color:var(--primary-white-color);
 }
 
 .footer-contact-email {
    /* font-family: var(--main-font-family); */
    font-weight: 400;
    font-size: 14px;
    line-height:  1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    color: #ffffff99;

 }

 .footer-number {
    /* font-family: var(--main-font-family); */
    font-weight: 400;
    font-size: 14px;
    line-height:  1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: #ffffff99;
 }

/* -------------------PAGE2 - PORTFOLIO-------------- */

.portfolio-examples{

}

.portfolio-filter-list {

}

.portfolio-filter-btn {
 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
    background-color:#F5F4FA;  
    font-family: var(--main-font-family);
}

.current {
    color: var(--primary-white-color) ;
    background-color: var(--accent-color);
}

.portfolio-examples-list {}

.portfolio-examples-item {
    background-color: var(--primary-white-color);
}

.portfolio-examples-link {
    text-decoration: none;
}

.portfolio-examples-foto {}

.portfolio-examples-title {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-examples-descr {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}